<phpunit 
    bootstrap="./bootstrap.php"
    colors="true"
    backupGlobals="false"
    verbose="true"
    stopOnError="true">

    <testsuites>
        <testsuite name="Application Testing">
            <directory>src</directory>
        </testsuite>
        <testsuite name="Library Testing">
            <directory>library</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
            <directory suffix=".php">../lib</directory>
        </whitelist>

        <blacklist>
            <directory suffix=".php">.</directory>
            <file>./bootstrap.php</file>
        </blacklist>
    </filter>

</phpunit>