{% extends "common/base.html" %}

{% block title %}Welcome to xFrame{% endblock %}
{% block content %}
    <h1>Welcome to xFrame</h1>
    <p>You have successfully installed xFrame.</p>
    <h2>Getting Started</h2>
    <ul>
        <li>Start hacking <code>src/demo/controller/Index.php</code> and <code>view/index.html</code></li>
        <li><a href="https://github.com/linusnorton/xFrame/wiki/Request-Mapping">read about request mapping</a></li>
        <li><a href="https://github.com/linusnorton/xFrame/wiki/Dependency-Injection-Container">read about the dependency injection container</a></li>
        <li><a href="https://github.com/linusnorton/xFrame/wiki/Bootstrap">read about bootstrapping</a></li>
        <li><a href="https://github.com/linusnorton/xFrame/wiki/Doctrine2-Integration">read about Doctrine2 integration</a></li>
        <li><a href="https://github.com/linusnorton/xFrame/wiki/Using-the-Phing-Script">read about the testing and the phing script</a></li>
        <li><a href="https://github.com/linusnorton/xFrame/wiki/Creating-CLI-Targets">read about adding CLI targets</a></li>
        <li><a href="https://github.com/linusnorton/xFrame/wiki/Exception-Mailer">read about the exception mailer</a></li>
    </ul>
{% endblock %}

